form#project-form{
	display: block;
	margin: 24px auto;
	text-align: center;
	position: relative;
	max-width: 600px;
} 

form#project-form label{
	padding-bottom: 12px;
	margin-top: 12px;
	font-size: 18px;
	float: left;
}

form#project-form input,
form#project-form select,
form#project-form textarea{
	display: block;
	border:0; 
	margin:6px 0 6px auto; 
	padding:12px; 
	margin-bottom: 12px;
	border:solid 1px #bbb; 
	max-width:300px;
	width: 80%;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
}



form#project-form input.submit{
	margin:6px auto; 
}


.admin_table{
	/*display: block;*/
	margin: 24px auto;
	width: 100%;
	max-width: 600px;
	position: relative;
}

table.admin_table th,
table.admin_table td{
	padding: 12px;
	border: 1px solid #bbb;
}

.mod_img{
	max-width: 24px;
}